.ssh/
.config
.env
.env.local
*.log
/node_modules
/target
/target
.vscode/
secret.txt
vendor/
packages/
.secrets
dist/
build/
bin/
obj/
*.exe
*.o
*.out
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea/
coverage/
test-results/
.gitconfig
.lesshst



.aptitude
.ssh/
.bash_rc
config/.hidden
